<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>YelpCamp</title>

  <link rel="stylesheet" href="/css/bootstrap.min.css" />
</head>

<body class="d-flex flex-column min-vh-100">
  <%- include('../partials/navbar.ejs') %>

  <main class="container mt-5"><%- body %></main>

  <%- include('../partials/footer.ejs') %>

  <script src="/javascript/bootstrap.bundle.min.js"></script>


  <script>
    (() => {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.from(forms).forEach(form => {
        form.addEventListener('submit', event => {
          if (!form.checkValidity()) {
            event.preventDefault()
            event.stopPropagation()
          }

          form.classList.add('was-validated')
        }, false)
      })
    })()
  </script>

</body>

</html>