<% layout('layouts/boilerplate.ejs') %>
<div class="container d-flex justify-content-center align-items-center">
  <div class="text-center">
    <h1 class="display-1 font-weight-bold text-primary">404</h1>
    <h2 class="display-4">Page Not Found</h2>
    <p class="lead">Sorry, the page you are looking for might have been moved or deleted.</p>
    <a href="/campgrounds" class="btn btn-primary">View Campgrounds</a>
  </div>
</div>