<% layout('layouts/boilerplate.ejs') %>
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">Error!</h4>
  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dignissimos
    illo necessitatibus iste quo velit atque. Sapiente culpa laboriosam autem fugit
    earum quidem, voluptate, soluta sit, non dicta velit aut?
  </p>
  <p class="mb-0">Zzzzzzzzzzzzzzzzzz</p>
</div>